caption{
  color: white;
  opacity: 0.8;
  font-size: 40px;
  font-family: 'IM Fell English SC', serif;
  /*font-style: bold;*/
}

#winter{
  border: 2px solid rgba(255,255,255,0.2);
  width: 250px;
  height: 45px;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0,0,0,0.2);
  bottom: 240px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  opacity: 0.6;
  position: relative;
}

#winter:hover{
  border: 2px outset red;
  box-shadow: 0px 0px 25px red;
}

#winter_is_coming{
  position: relative;
  bottom: 20px;
  padding: 3px;
  font-size: 23px;
}

.square{
  opacity: 0.7;
  border: 5px ridge rgba(0,0,0,1);
  height: 180px;
  width: 110px;
  border-radius: 20px;
  background-color: black;
  color: white;
  text-align: center;
  background-size: 135%;
  background-position: center;
  background-repeat: no-repeat;
}

.square:hover{
  cursor: url(../images/Sword.cur), pointer;
}

body{
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  font-family: 'IM Fell English SC', serif;
  font-weight: bold;
  text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

.background1{
  background-image: url('../images/background1.jpg');
}

.background2{
  background-image: url('../images/background2.jpg');
}

.background3{
  background-image: url('../images/background3.jpg');
}

.background4{
  background-image: url('../images/background4.jpg');
}

.background5{
  background-image: url('../images/background5.jpg');
}

.player1_current {
  border: 5px ridge #3399FF;
  box-shadow: 0px 0px 25px #3399FF;
}

.player2_current {
  border: 5px ridge #990099;
  box-shadow: 0px 0px 25px #990099;
}

table{
  margin: 0 auto;
}

.jon, .jon2{
  background-image: url("../images/Jon_Snow.jpg");
}

.joff, .joff2{
  background-image: url("../images/Joffrey.jpg");
}

.cercei, .cercei2{
  background-image: url("../images/Cersei.jpg");
}

.drogo, .drogo2{
  background-image: url("../images/drogo.jpg");
}

.selmy, .selmy2{
  background-image: url("../images/selmy.jpg");
}

.melisandre, .melisandre2{
  background-image: url("../images/melisandre.jpg");
}

.dany, .dany2{
  background-image: url("../images/dany.jpg");
}

.tyrion, .tyrion2{
  background-image: url("../images/Tyrion.jpg");
}

.theon, .theon2{
  background-image: url("../images/Theon.jpg");
}

.ned, .ned2{
  background-image: url("../images/Ned.jpg");
}

.jamie, .jamie2{
  background-image: url("../images/Jamie.jpg");
}

.jorah, .jorah2{
  background-image: url("../images/Jorah.jpg");
}

.back{
  background-image: url("../images/Card.jpg");
}

/*snow falling effect*/
.snow{
  background: none;
  font-family: Androgyne;
  background-image: url('../images/s1.png'), url('../images/s2.png'), url('../images/s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:-1;
  -webkit-animation: snow 15s linear infinite;
  -moz-animation: snow 15s linear infinite;
  -ms-animation: snow 15s linear infinite;
  animation: snow 15s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.player{
  color: white;
  opacity: 0.9;
  font-size: 30px;
}

#player1{
  float: left;
}

#player2{
  float: right;
  display: relative;
}

.player_name{
  background-color: black;
  border-radius: 20px;
  padding: 5px;
  border: 3px outset black;
}

.player1Current{
  background-color: #3399FF;
  opacity: 0.9;
  border-radius: 20px;
  border: 3px outset black;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -mz-transition: background-color 1s;
  transition: background-color 1s;
}

.player2Current{
  background-color: #990099;
  opacity: 0.9;
  border-radius: 20px;
  border: 3px ridge black;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -mz-transition: background-color 1s;
  transition: background-color 1s;
}

#player1_Score{
  position: relative;
  left: 50px;
  font-size: 100px;
  opacity: 0.9;
}

#player2_Score{
  position: relative;
  left: 20px;
  font-size: 100px;
  opacity: 0.9;
}

#play_again{
  height: 200px;
  width: 450px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  bottom: 250px;
  color: white;
  font-size: 40px;
  opacity: 0.7;
}

.hidden{
  visibility: hidden;
}

#winner_is{
  text-align: center;
  opacity: 0.5;
}

#winner{
  text-align: center;
  position: relative;
  bottom: 40px;
  opacity: 0.8;
}

#button{
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 140px;
  bottom: 80px;
  height: 90px;
  width: 170px;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 25px;
  color: white;
  background-color: rgba(0,0,0, 0.2);
  font-family: 'IM Fell English SC', serif;
}

#button:hover{
  border: 2px outset red;
  box-shadow: 0px 0px 25px red;
}

@media screen and (max-width: 1000px) {
.square{
  height: 150px;
}

table{
  position: relative;
  bottom: 50px;
  width: 100%;
}

#winter{
  position: relative;
  bottom: 280px;
}

.player{
font-size: 20px;
}

body{
  background-size: contain;
  background-position: right;
}

#player1_Score{
  font-size: 50px;
}

#player2_Score{
  font-size: 50px;
}

#play_again{
  bottom: 400px;
}

caption{
  font-size: 30px;
}
}

@media screen and (max-width: 700px) {
.square{
  height: 100px;
}
table{
 width: 100%;
}

caption{
  font-size: 20px;
}

#player1_Score{
  position: relative;
  bottom: 10px;
}

#player2_Score{
  position: relative;
  bottom: 10px;
}
}

@media screen and (max-width: 580px) {
.square{
  height: 80px;
}

caption{
  position: relative;
  bottom: 30px;
}

#play_again{
  position: relative;
  bottom: 40px;
}

#winner_is{
  font-size: 15px;
  position: relative;
  bottom: 50px;
}

#winner{
  font-size: 15px;
  position: relative;
  bottom: 40px;
}

button{
  font-size: 15px;
  width: 20px;
  height: 10px;
}

table{
  width: 100%;
}

#winter_is_coming{

  position: relative;
  bottom: 12px;
  font-size: 15px;
}

#winter{
  position: relative;
  width: 170px;
  height: 30px;
  font-size: 10px;
  bottom: 250px;
}
}
